.social-menu{
    padding-top: 20px;

    .social-ul{
        .social-li{
            list-style: none;
            display: inline-block;
            padding: 10px;

            a{
                font-size: 30px;

                &:hover{
                    color: $first-color;
                    transition: 0.5s;
                }

                &::after{
                    display: none;
                }
            }
        }
    }
}